@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --focus-border: #34B27B!important;
  --separator-border: #34B27B;
}

.mentions__suggestions {
  max-height: calc(100vh - 200px); /* garde 200px de marge bas */
  overflow-y: auto;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap');

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Poppins", Helvetica, sans-serif;
}


/* Styles scrollbar personnalisés */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #1A2127;
}

::-webkit-scrollbar-thumb {
  background-color: #2B373F;
  border-radius: 9999px;
  border: 2px solid #2B373F; /* pour un effet “flottant” */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #252F36; /* vert plus clair au hover */
}

/* Pour Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #2B373F #1A2127;
}
::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}

